{% extends 'base.html' %}

{% block content %}
  <h1>Listado de cursos</h1>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Fecha de inicio</th>
        <th>Fecha de fin</th>
      </tr>
    </thead>
    <tbody>
      {% for curso in cursos %}
      <tr>
        <td>{{ curso.nombre }}</td>
        <td>{{ curso.descripcion }}</td>
        <td>{{ curso.fecha_inicio }}</td>
        <td>{{ curso.fecha_fin }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
